.navbar {
	border-bottom: 2px;
	border-style: solid;
	border-color: black;
	font-family: "Lato", sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

header {
	margin-top: 50px;
	font-family: "Lato", sans-serif;
}

header .bg{
	height: 400px;
	background-image: url('../images/picture.jpg');
	border-bottom: 2px solid black;
}

header .head {
	color: white;
	border-bottom: 2px;
	border-style: solid;
	border-color: black;
}

header .intro {
	color: black;
	font-size: 1em;
	margin-top: 9em;
	text-align: center;
}

header .name {
	font-size: 5em;
}

header span{
	font-size: 24px;
	font-weight: 300;
}

#skills h3, .portfolio-info h3, .about-me h3{
	font-family: "Lato", sans-serif;
	font-weight:
}

#skills{
	background-color: #262626;
	height: 400px;
}

.skills-info{
	text-align: center;
	color: white;
}

#portfolio, #about{
	height: 400px;
	background-color: #F8F8F8;
}

.portfolio-info, .about-me{
	text-align: center;
}

footer {
	font-family: "Open Sans", sans-serif;
}

footer h3 {
	font-weight: 100;
	font-size: 2em;
	font-family: "Lato", sans-serif;
}

.link{
	font-size: 1em
}

.icon{
	width: 5em;
	height: 5em;
	padding: 5px;
	margin: 10px;
}
.copyright {
	font-size: 9px;
	color: #bdbdbd;
}
